* {
    border: 0;
    margin: 0;
}

html,body {
    height: 100%;
    background-image: url('pexels-tim-gouw-5650642.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: ;
}

.text {
    position: absolute;
    right: 10%;
    top: 10%;
    display: flex;
    max-width: 300px;
    justify-content: center;
    align-items: center;
}

.social {
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.social ul, li, a{
    list-style: none;
    text-decoration: none;
    
}