@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primary-color: #3e79a1;

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 5vh;
    background-color: $primary-color;

    .logo {
        text-transform: uppercase;
        flex: 1;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        flex: 14;

        :hover{
            background-color: brown;
        }
    }
}

.landing {
    background-image: url('pexels-tim-gouw-5650642.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
}


footer {
    height: 5vh;
    width: 100%;
    background-color: $primary-color;
    text-align: right;
}